<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi blog</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ad9b15f31.js" crossorigin="anonymous"></script>
</head>
<div class="background">
    <!-- <img src="./recursos/undraw_campfire_s-6-y4.svg" alt="" class="around-the-word"> -->
    <header>
        <section class="social-media">
            <div class="contain-sm">
                <a href="">Instagram <i class="fab fa-instagram"></i></a>
                <a href="">Youtube <i class="fab fa-youtube"></i></a>
                <a href="">Twitter <i class="fab fa-twitter"></i></a>
                <a href="">Twitch <i class="fab fa-twitch"></i></a>
            </div>
            <div class="contain-sm-small">
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-twitch"></i></a>
            </div>
        </section>
        <nav>
            <div class="aboutme">
                <section class="miblog">
                    <a href="http://localhost:4000/rooms">
                        <span>Rooms</span> <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </section>
                <section>
                    <a href="http://localhost:8000/posts">Ver comentarios <i class="fa-solid fa-eye"></i></a>
                </section>
            </div>
        </nav>
    </header>

    <main class="main-home">
        <h1>¿No sabes a dónde ir?<br> ¡No se preocupe!</h1>
        <div class="main">
            <a href="http://localhost:8000/flexs">Búsqueda rápida  <i class="fas fa-search"></i></a>
        </div>
    </main>
</div>    
</body>
</html>